{% if author_profile or layout.author_profile or site.defaults.posts.author_profile or site.defaults.pages.author_profile or sidebar or site.defaults.posts.sidebar %}

{% assign sidebar = sidebar | default: site.defaults.posts.sidebar | default: false %}

<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile or site.defaults.posts.author_profile or site.defaults.pages.author_profile %}{% include author-profile.html %}{% endif %}
  {% if sidebar %}
    {% for s in sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if sidebar.nav %}
      {% include nav_list nav=sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
