---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
    color: rgba(102, 235, 97, 0.829) !important;
  }

/* Colors */
$background-color: #141010 !default;
$text-color: #fff6fbb9 !default;
$primary-color: #790b61 !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$code-background-color: mix(rgb(43, 39, 39), $background-color, 15%) !default;
$code-background-color-dark: mix(rgb(59, 54, 54), $background-color, 20%) !default;

/* neon syntax highlighting (base16) */
$base00: #1a191a;
$base01: #e0e0e0;
$base02: #b4a6a6;
$base03: #928e8e;
$base04: #ccc2c2;
$base05: #bd6262;
$base06: #a74040;
$base07: #701b1b;
$base08: #ff0086;
$base09: #fd8900;
$base0a: #aba800;
$base0b: #00c918;
$base0c: #1faaaa;
$base0d: #3777e6;
$base0e: #ad00a1;
$base0f: #926e5c;
 //  base16-atelier-heath
 // base16-synth-midnight-dark
 // base16-summerfruit-dark
 // base16-seti
 // base16-outrun-dark (a bit bright)
 // base16-material-darker
 // base16-harmonic-dark
 // base16-google-dark (little dark for my tastes)
 // base16-default-dark (little dull)
 // base16-classic-dark
 // base16-brewer

 // Hacking the syntax highlighting
 .nb {
  /* Name.Builtin */
  color: $base0f !important;
}

.o {
  /* Operator */
  color: $base04 !important;
}
.n {
  /* Name */
  color: $base05 !important;
}
.p {
  /* Punctuation */
  color: #3ab469 !important;
}
.sr {
  /* Literal.String.Regex */
  color: $base0c !important;
}

// Progress Bar
#progress-bar {
  background: linear-gradient(to right, red, orange , yellow, green,   
  blue, indigo, violet var(--scroll), transparent 0);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 3px;
  z-index: 1;
}

//@import "progress.css"; // for progress bar
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials